<?xml version="1.0"?>
<launch>


<!-- publish the robot state (tf transforms) -->
<node name="aubo_driver" pkg="aubo_driver" type="aubo_driver" >
<param name="/server_host" type="str" value="$(arg robot_ip)"/>
<!--<param name="/server_host" value="127.0.0.1"/> -->
</node>


<node name="testAuboAPI" pkg="aubo_driver" type="testAuboAPI" respawn="false" output="screen">
</node>


</launch>
